/* *{
 margin: 0px;
 padding: 0px;
} */

.outterContainer {
  border: 1px solid #4d5e74;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
}

.grid-item {
  border: 1px solid #4d5e74;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.sub-grid-item {
  border: 0.5px solid #d7dce4;
  font-size: 30px;
  text-align: center;
  color: #485a71;
}

.header {
  align-self: center;
  margin-bottom: 20px;
  display: block;
}

.numPad {
  width: 100%;
  height: fit-content;
  float: right;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 110px);
  margin-top: 5px;
  gap: 10px;
}

.inputContainer {
  margin-left: 30px;
}

.numPad > div {
  background-color: #eaeef4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0072e3;
  font-size: 35px;
  border: 1px solid #485a71;
  border-radius: 10px;
  cursor: pointer;
}

.numPad > div:hover,
.actionIcon > i:hover {
  background-color: #e2e5eb;
}

.numPad > div:active,
.actionIcon > i:active {
  transform: scale(0.99);
}

.actionIcon {
  margin: 10px;
}

.actionIcon > i {
  border: 1px solid #485a71;
  margin: 8px;
  color: #0474e3;
  background: #eaeef4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.timmer {
  margin-left: 200px;
}
