.board {
  border: 2px solid black;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
}
.row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nr {
  border-bottom: 1px solid #aaa;
}

.nc {
  border-right: 1px solid #aaa;
}

.row-end {
  border-bottom: 2px solid black;
}
.col-end {
  border-right: 2px solid black;
}

input {
  width: 100%;
  height: 100%;
  font-size: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.highlight {
  background-color: aqua;
}
