.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff77a;
  position: relative;
}

.game {
  display: flex;
  margin-top: 3rem;
}

.board {
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
}
.row {
  display: grid;

  grid-template-columns: repeat(9, 1fr);
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffffe;
}
.nr {
  border-bottom: 1px solid #fff77a;
}

.nc {
  border-right: 1px solid #f1e864;
}

.row-end {
  margin-bottom: 4px;
}
.col-end {
  margin-right: 4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.dim-highlight {
  background-color: #f1eab5 !important;
}

.highlight {
  /* background-color: #ff791ad7 !important; */
  background-color: #fffffe !important;
  border: 4px solid #fe7819d2;
  border-radius: 3px;
}
