@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
